# Project exclude paths
/target/
.classpath
.idea/compiler.xml
.idea/discord.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__commons_io_commons_io_1_3_2.xml
.idea/libraries/Maven__de_erichseifert_vectorgraphics2d_VectorGraphics2D_0_13.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_apache_commons_commons_csv_1_6.xml
.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_knowm_xchart_xchart_3_5_2.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
analisisCyclingTracks.iml
pom.xml
TrackFiles/Athlete1/activity-Athlete1-01.csv
TrackFiles/Athlete1/activity-Athlete1-02.csv
TrackFiles/Athlete1/activity-Athlete1-03.csv
TrackFiles/Athlete1/activity-Athlete1-04.csv
TrackFiles/Athlete1/activity-Athlete1-05.csv
TrackFiles/Athlete2/activity-Athlete2-01.csv
TrackFiles/Athlete2/activity-Athlete2-02.csv
TrackFiles/Athlete2/activity-Athlete2-03.csv
TrackFiles/Athlete2/activity-Athlete2-04.csv
TrackFiles/Athlete2/activity-Athlete2-05.csv
TrackFiles/Athlete3/activity-Athlete3-01.csv
TrackFiles/Athlete3/activity-Athlete3-02.csv
TrackFiles/Athlete3/activity-Athlete3-03.csv
TrackFiles/Athlete3/activity-Athlete3-04.csv
TrackFiles/Athlete3/activity-Athlete3-05.csv
TrackFiles/Athlete4/activity-Athlete4-01.csv
TrackFiles/Athlete4/activity-Athlete4-02.csv
TrackFiles/Athlete4/activity-Athlete4-03.csv
TrackFiles/Athlete4/activity-Athlete4-04.csv
TrackFiles/Athlete4/activity-Athlete4-05.csv
TrackFiles/Athlete5/activity-Athlete5-01.csv
TrackFiles/Athlete5/activity-Athlete5-02.csv
TrackFiles/Athlete5/activity-Athlete5-03.csv
TrackFiles/Athlete5/activity-Athlete5-04.csv
TrackFiles/Athlete5/activity-Athlete5-05.csv
TrackFiles/Athlete6/activity-Athlete6-01.csv
TrackFiles/Athlete6/activity-Athlete6-02.csv
TrackFiles/Athlete6/activity-Athlete6-03.csv
TrackFiles/Athlete6/activity-Athlete6-04.csv
TrackFiles/Athlete6/activity-Athlete6-05.csv
TrackFiles/Athlete7/activity-Athlete7-01.csv
TrackFiles/Athlete7/activity-Athlete7-02.csv
TrackFiles/Athlete7/activity-Athlete7-03.csv
TrackFiles/Athlete7/activity-Athlete7-04.csv
TrackFiles/Athlete7/activity-Athlete7-05.csv
.idea/csv-plugin.xml
analisis-running-tracks.iml
.idea/.name
